<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBAG-hfS3Ap7klgB9PMafOow1LfL4wUOYQ</string>
	<key>GCM_SENDER_ID</key>
	<string>474236813463</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.diaryApplication</string>
	<key>PROJECT_ID</key>
	<string>thanksforallmyfans</string>
	<key>STORAGE_BUCKET</key>
	<string>thanksforallmyfans.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:474236813463:ios:139f361750980482a469d2</string>
</dict>
</plist>